body {
  margin: 0 auto;
  padding: 0 auto;
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
  height: 100vh;
}
.main {
  margin-left: 120px;
  margin-top: 200px;
}
.heart1 {
  width: 500px;
  height: 500px;
  background-color: #120e03;
  position: relative;
  top: 250px;
  right: -150px;
  transform: rotate(45deg);
  box-shadow: 1px 2px 300px blue;
}
.heart1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #b8062c;
  border-radius: 50%;
  transform: translateY(-50%);
}

.heart1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #b8062c;
  border-radius: 50%;
  transform: translateX(-50%);
}
.heart2 {
  width: 450px;
  height: 450px;
  background-color: #120e03;
  position: relative;
  top: -25px;
  right: -175px;
  transform: rotate(45deg);
  margin-top: -190px;
}
.heart2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #efbc41;
  border-radius: 50%;
  transform: translateY(-50%);
  animation: all 0.2s;
  animation: shobi 5s infinite linear;
}

.heart2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #efbc41;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: all 0.2s;
  animation: shobi 10s infinite linear;
}
@keyframes shobi {
  0% {
    background-color: #efbc41;
  }
  10% {
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
  }
  20% {
    background: linear-gradient(#2193b0, #6dd5ed);
  }
  30% {
    background: linear-gradient(#cc2b5e, #753a88);
  }
  40% {
    background: linear-gradient(#ffafbd, #ffc3a0);
  }
  50% {
    background: linear-gradient(#7b4397, #dc2430);
  }
  60% {
    background: linear-gradient(#3a1c71, #d76d77, #ffaf7b);
  }
  70% {
    background: linear-gradient(#aa076b, #61045f);
  }
  80% {
    background: linear-gradient(#c33764, #1d2671);
  }
  90% {
    background: linear-gradient(#ff5f6d, #ffc371);
  }
  100% {
    background: linear-gradient(#ffd89b, #19547b);
  }
}
.heart3 {
  width: 400px;
  height: 400px;
  background-color: #120e03;
  position: relative;
  top: -440px;
  right: -200px;
  transform: rotate(45deg);
}
.heart3::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #120e03;
  border-radius: 50%;
  transform: translateY(-50%);
}

.heart3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #120e03;
  border-radius: 50%;
  transform: translateX(-50%);
}
.heart4 {
  width: 250px;
  height: 250px;
  background-color: #ee5354;
  position: relative;
  top: -780px;
  right: -275px;
  transform: rotate(45deg);
  opacity: 0;
  box-shadow: 1px 2px 50px blue;
  animation: shiba 1.5s infinite linear;
  transition: all 1s;
}
.heart4::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ee5354;
  border-radius: 50%;
  transform: translateY(-50%);
}
@keyframes shiba {
  0% {
    transform: rotate(45deg) scale(1);
  }
  40% {
    transform: rotate(45deg) scale(1);
  }
  40% {
    transform: rotate(45deg) scale(1.4);
  }
  60% {
    transform: rotate(45deg) scale(1.2);
  }
  80% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
.heart4:hover {
  opacity: 1;
}

.heart4::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ee5354;
  border-radius: 50%;
  transform: translateX(-50%);
}
.heart3 h1 {
  position: absolute;
  top: 50px;
  left: -40px;
  color: #2ed573;
  z-index: 1;
  box-shadow: 1px 2px 100px blue;
  font-size: 3.5rem;
  transform: rotate(-45deg);
}
.heart3 h1 span {
  color: #ee5253;
}
.heart4 h1 {
  color: #2ed573;
  position: absolute;
  z-index: 1;
  left: -45px;
  font-size: 3.2rem;
  box-shadow: 1px 2px 100px #ee5253;
  transform: rotate(-45deg);
}
.heart4 h1 span {
  color: blue;
}
.stars {
  background-color: white;
  width: 100px;
  height: 100px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  width: 50px;
  height: 50px;
  margin-left: 60%;
  animation-duration: 1s;
  animation-name: twinkle;
}

.star-2 {
  margin-left: 25%;
  animation-duration: 2s;
  animation-name: twinkle;
}

.star-3 {
  margin-left: 50%;
  animation-duration: 3s;
  animation-name: twinkle;
}

@keyframes twinkle {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
